# Homework 5, Part 1: Building a pandas cheat sheet

**Use `animals.csv` to answer the following questions.** The data is small and the questions are pretty simple, so hopefully you can use this for pandas reference in the future.

> **Don't use ChatGPT for this assignment.** I know I talked about how *yes ChatGPT is great for memorizing pandas stuff* but what I want you to do instead is:
>
> 1. Try to use tab autocomplete to see what your options might be (e.g. type `df.so` then press tab)
> 2. Use shift+tab to read documentation about things (e.g. click `sort_values` then press shift+tab)
> 3. Ask in #foundations because it's just TOO QUIET in there
> 4. Chat with TAs so you can have Jasen say "WHY ARE YOU USING df PERIOD, IT SHOULD BE ILLEGAL"

## First: things I want you to know first

### Counting things

If during class we had wanted to know how many countries were on each continent, I would use `df.continent.value_counts()`.

Lots of people like to try `groupby` when you're counting things, but in pandas there is only one rule: **every time you want to count things and think you should use groupby.... don't use `groupby`!** Instead use `value_counts()`.

### Data types

Just like you can have strings and integers in Python, each column can have a different data type. You can run `df.dtypes` or `df.info()` to get the data types of each column.

* `int64` is an integer
* `float64` is a float/decimal
* `object` is *anything else*. This normally means a string.

You can also (try to) convert between types! In normal Python it might be `int(age)`, but with pandas you'll use `df.age.astype(int)`


### Graphing things

Just put `.plot()` on the end of whatever you're looking at. It works like 75% of the time!

```python
df.groupby('continent').population.sum().plot(kind='barh')
```

The code above will give me a horizontal bar graph of the sum of each continent's population. Technically speaking it works because the result of the `groupby` and `sum` is a Series, matplotlib plots the index compared to the values. 

If you have a full dataframe, though, you usually need to give it the `x` and `y`.

```python
df.plot(x='life_expectancy', y='per_capita_gdp', kind='scatter')
```

This will give you a scatterplot of each country's life expectancy vs. its per-capita GDP.

If you want to use Altair, though, you can find details [on its website](https://altair-viz.github.io/). We'll cover it a lot more in the future!

## 0) Setup

Import pandas **with the correct name**.

In [4]:
import pandas as pd
import pprint

## 1) Reading in a csv file

Use pandas to read in the animals CSV file, saving it as a variable with the normal name for a dataframe

In [7]:
df = pd.read_csv("animals.csv")
df

  animal        name  length
0    cat        Anne      35
1    cat         Bob      45
2    dog  Egglesburg      65
3    dog       Devon      50
4    cat     Charlie      32
5    dog    Fontaine      35
6    cat      Xypher      10

## 2) Checking your data

Display the number of rows and columns in your data. Also display the names and data types of each column.

In [15]:
df.shape

(7, 3)

In [12]:
df.dtypes

animal    object
name      object
length     int64
dtype: object

## 3) Display the first 3 animals

Hmmm, we know how to take the first 5, but we really just want the first 3. Maybe there is an option to change how many you get? Use `?` to check the documentation on the command.

In [17]:
df.head(3)

  animal        name  length
0    cat        Anne      35
1    cat         Bob      45
2    dog  Egglesburg      65

## 4) Sort the animals to show me the 3 longest animals

> **TIP:** You can use `.head()` after you sort things!

In [22]:
df.sort_values('length', ascending=False).head(5)

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
1    cat         Bob      45
0    cat        Anne      35
5    dog    Fontaine      35

## 5) Get the mean and standard deviation of animal lengths

You can do this with separate commands or with a single command.

> **Tip:** You don't know how to do standard deviation, but remember when we did `df.so` and hit tab and it suggested some options for sorting? I'm assuming the standard deviation method starts with `s`....

In [26]:
std = df['length'].std()
mean = df['length'].mean()
print(std, mean)

17.101935284528196 38.857142857142854

## 6) How many cats do we have and how many dogs?

In [33]:
df['animal'].value_counts()

animal
cat    4
dog    3
Name: count, dtype: int64

## 7) Only display the dogs

> **TIP:** It's probably easiest to make it display the list of `True`/`False` first, then wrap the `df[]` around it.

In [39]:
df[df['animal'] == 'dog']

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
5    dog    Fontaine      35

## 8) Only display the animals that are longer than 40cm

Do this in **a different way than you did the dogs display**

> **TIP:** While the `df[...]` technique is by far the popular approach, `df.query` is (I think) more readable.

In [40]:
df[df['length'] > 40]

  animal        name  length
1    cat         Bob      45
2    dog  Egglesburg      65
3    dog       Devon      50

## 9) `length` is the animal's length in centimeters. Create a new column called `inches` that is the length in inches.

> **TIP:** If your first try fails, remember there are multiple ways to talk about columns, but only one way works to create new ones.

In [45]:
df['length_inches'] = (df['length'] * 0.4).astype(int)
df

  animal        name  length  length_inches
0    cat        Anne      35             14
1    cat         Bob      45             18
2    dog  Egglesburg      65             26
3    dog       Devon      50             20
4    cat     Charlie      32             12
5    dog    Fontaine      35             14
6    cat      Xypher      10              4

## 10) Save just the cats to a separate variable called `cats`. Save just the dogs to a separate variable called `dogs`.

This is the same as listing them, but you just save the result to a variable instead of looking at it. Be sure to use `.head()` to make sure your data looks right.

Once you do this, every time you use `cats` you'll only be talking about the cats, and same for the dogs.

In [46]:
cats = df[df['animal'] == 'cat']
cats

  animal     name  length  length_inches
0    cat     Anne      35             14
1    cat      Bob      45             18
4    cat  Charlie      32             12
6    cat   Xypher      10              4

In [47]:
dogs = df[df['animal'] == 'dog']

## 11) Display all of the animals that are cats and above 12 inches long.

First do it using the `cats` variable, then also do it using your `df` dataframe.

> **TIP:** For multiple conditions, you use `df[(one condition) & (another condition)]`

In [49]:
cats[cats['length_inches'] > 12]

  animal  name  length  length_inches
0    cat  Anne      35             14
1    cat   Bob      45             18

In [51]:
df[(df['animal'] == 'cat') & (df['length_inches'] > 12)]

  animal  name  length  length_inches
0    cat  Anne      35             14
1    cat   Bob      45             18

## 12) What's the mean length of a cat? What's the mean length of a dog?

In [53]:
cats['length'].mean()

30.5

In [54]:
dogs['length'].mean()

50.0

## 13) If you didn't already, use `groupby` to do #12 all at once

In [58]:
df.groupby('animal')['length'].mean()

animal
cat    30.5
dog    50.0
Name: length, dtype: float64

## 14) Make a histogram of the length of dogs.

This is the worst histogram ever

> **TIP:** It **does not** use either `plot()` or altair.

## 15) Make a horizontal bar graph of the length of the animals, with the animal's name as the label

> **TIP:** It isn't `df['length'].plot()`, because it needs *both* columns. Think about the scatterplot up above.
>
> **TIP:** Which is the `x` axis and which is the `y` axis? You'll notice pandas is kind of weird and wrong.
>
> **TIP:** Make sure you specify the `kind` of graph or else it will be a weird line thing
>
> **TIP:** If you want, you can set a custom size for your plot by sending it something like `figsize=(15,2)`

## 16) Make a sorted horizontal bar graph of the cats, with the larger cats on top

> **TIP:** Think in steps, even though it's all on one line - first make sure you can sort it, then try to graph it.

## 17) As a reward (...is it a reward?) for this being the last question: run the following code, then plot the number of dogs vs. the number of cats

When you are done, be sure to tell Dhrumil that FiveThirtyEight has been lonely without him.

> **TIP:** Counting the number of dogs and number of cats does NOT use `.groupby`! That's only for calculations.
>
> **TIP:** You can set a title with `title="Number of animals"`

In [64]:
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

ModuleNotFoundError: No module named 'matplotlib'